:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --herobackground-color: #2f303a;
  --tel-mail-color: rgba(255, 255, 255, 0.6);
  --font-size14px: 14px;
  --font-size16px: 16px;
  --font-size36px: 36px;
  --font: bold;
  --font-style: normal;
  --font-weight500: 500;
  --font-wtightnormal: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--background-color);
  color: var(--primery-text-color);
}
.items {
  text-decoration: none;
  list-style: none;
  background-color: var(--background-color);
}
/* Header */
.page-header {
  background-color: var(--background-color);
}
/* Logo Company */
.logo {
  color: var(--accent-color);
  list-style: none;
  text-decoration: none;
  font-family: Raleway;
  font-style: var(--font-style);
  font-weight: var(--font);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-colored {
  color: var(--title-text-color);
}
.logo-colored-reversed {
  color: var(--background-color);
}
/* Site nav */
.site-nav {
  list-style: none;
  font-style: var(--font-style);
  font-weight: var(--font-weight500);
  font-size: var(--font-size14px);
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.site-nav .site-nav-link.current {
  color: var(--accent-color);
}
.site-nav-link {
  color: var(--title-text-color);
  text-decoration: none;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
/* Auth nav */
.auth-nav {
  list-style: none;
  font-style: var(--font-style);
  font-weight: var(--font-weight500);
  font-size: var(--font-size14px);
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.auth-nav-link {
  text-decoration: none;
  color: var(--primery-text-color);
}
.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
}
/* main body */
.main-section {
  background-color: var(--herobackground-color);
}
.main-caption {
  font-style: var(--font-style);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
}
.footer-list {
  text-decoration: none;
  list-style: none;
}
.btn-item {
  background: var(--accent-color);
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; */
  cursor: pointer;
}

.btn-desc {
  font-style: var(--font-style);
  font-weight: var(--font);
  font-size: var(--font-size16px);
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
}

/* Our Feature section */
.our-feature-title {
  background-color: var(--background-color);
  font-weight: var(--font);
  font-size: var(--font-size14px);
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-features-heading {
  font-size: var(--font-size14px);
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.our-features-paragraph {
  font-size: var(--font-size14px);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
/* About section */
.about-section-title {
  color: var(--title-text-color);
  font-weight: var(--font);
  font-size: var(--font-size36px);
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Our team Section */
.our-team-title {
  font-style: var(--font-style);
  font-weight: var(--font);
  font-size: var(--font-size36px);
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.our-team-section {
  background-color: #f5f4fa;
}
.user-name {
  font-style: var(--font-style);
  font-weight: var(--font-weight500);
  font-size: var(--font-size16px);
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.career-block {
  font-size: var(--font-size16px);
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.container {
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}
/*Footer section*/
.page-footer {
  background-color: var(--herobackground-color);
}

.location-link {
  text-decoration: none;
  list-style: none;
  font-style: var(--font-style);
  font-weight: var(--font-wtightnormal);
  font-size: var(--font-size14px);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.mail-link {
  list-style: none;
  text-decoration: none;
  font-style: var(--font-style);
  font-weight: var(--font-wtightnormal);
  font-size: var(--font-size14px);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--tel-mail-color);
}

.tel-link {
  list-style: none;
  text-decoration: none;
  font-style: var(--font-style);
  font-weight: var(--font-wtightnormal);
  font-size: var(--font-size14px);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--tel-mail-color);
}
/* our-portfolio-section */

.portfolio-btn-item {
  font-style: var(--font-style);
  font-weight: var(--font-weight500);
  font-size: var(--font-size16px);
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.portfolio-btn-list {
  background: var(--background-color);
  border-radius: 4px;
  text-decoration: none;
  list-style: none;
}
.portfolio-btn {
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-btn-item:hover,
.portfolio-btn-item:focus {
  font-style: var(--font-style);
  font-weight: var(--font-weight500);
  font-size: var(--font-size16px);
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--background-color);
}
/* Our Portfolio section */
.portfolio-list {
  text-decoration: none;
  list-style: none;
}
.portfolio-caption {
  font-style: var(--font-style);
  font-weight: var(--font);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.categories-item {
  font-size: var(--font-size16px);
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
